@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "SE";
}
<h1 class="text-center">SE Department</h1>
<div class="text-center">
    <p>
        The Department of Software Engineering (SE) at PUCIT is one of the leading institutions in the field of Software Engineering in Pakistan. The department offers a wide range of undergraduate, graduate, and doctoral programs. The department has a strong research focus with a number of research groups working in diverse areas of Software Engineering.
    </p>
    </div>
