<div>
	<section class="bg-main bg-color bg-transparent p-md-3 p-lg-5 my-4">
        <div class="container mt-3">
            <div class="row gap-4 gap-lg-0">
                <div class="col-12 col-md-12 col-lg-6">
                    <h1 class="pt-auto pt-lg-2 fw-bold">
                        Use AI to generate your Impactful Cover Letters in Seconds
                    </h1>
                    <p class="fs-5 text-muted">
                        Step into your next caeer oppoutunity with confidence,using tailored cover leters that speak
                        directlyto your dreams job's requirments
                    </p>
                    <p class="fs-6">
                        Yor are seconds away from creating your first cover letter,just follow these two simple steps:
                    </p>
                    <ul class="fs-6 list-unstyled fw-bolder">
                        <li>1. Sign up for free</li>
                        <li>2. Answer a few questions about your dream job</li>
                    </ul>
                    <label for="cvFile" class="w-100">
                        <div class="mb-3 border-2 rounded-2 d-flex flex-column align-items-center w-50 gap-2 dotted"
                            onclick="document.getElementById('cvFile').click()">
                            <i class="bi bi-cloud-upload-fill fs-1 p-2"></i>
                            <button class="btn btn-primary">Try your first cover letter for free</button>
                            <p class="text-muted">Upload or Drop a CV file Here</p>
                            <input type="file" id="cvFile" accept=".pdf,.doc,.docx" style="display: none;">
                        </div>
                    </label>
                </div>
                <div class="col-12 col-md-12 col-lg-6 mt-3">
                    <img src="~/images/img.svg" class=" rounded img-thumbnail">
                </div>
            </div>
    </section>
    <section class=" bg-transparent p-md-3 p-lg-5 my-4" id="pricing">
        <div class="container mt-3">
            <div class="row gap-4 gap-lg-0">
                <div class="col">
                    <div class=" d-flex flex-column gap-2 align-items-center">
                        <h2>Get Started, Get Hired</h2>
                        <p class="text-muted">
                            Select a plan and get cloder to your dream job today
                        </p>
                    </div>

                </div>
                <div class="row gap-4 gap-lg-0">
                    <div class="col-12 col-md-12 col-lg-4 mt-3">
                        <div class="card h-100 shadow">
                            <div class="card-body border pt-4">
                                <h5 class="card-title btn fw-bold basic rounded-5 text-primary">
                                    Basic
                                </h5>
                                <p class="card-text">
                                    Perfectly for those passively applying for jobs
                                </p>
                                <p class="card-text text-primary">
                                    £7.99/month
                                </p>
                                <ul class="list-group mb-5">
                                    <li class="list-group-item list-group-flush">
                                        <i class="bi bi-check me-3 text-primary fs-5"></i>
                                        Generate Upto 5 cover letters per month
                                    </li>
                                    <li class="list-group-item list-group-flush">
                                        <i class="bi bi-check me-3 text-primary fs-5"></i>Acces to Basic AI-generated
                                        content
                                    </li>
                                    <li class="list-group-item list-group-flush">
                                        <i class="bi bi-check me-3 text-primary fs-5"></i>Download Cover Letters in
                                        Word/PDF
                                        format
                                    </li>
                                </ul>
                            </div>
                            <div class="card-footer d-flex  justify-content-between">
                                <p class="text-muted">
                                    Get Started!
                                </p>
                                <i class="bi bi-arrow-right text-primary"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-12 col-lg-4 mt-3">
                        <div class="card h-100 shadow">
                            <div class="card-body border-top-0 pt-4">
                                <h5 class="card-title btn btn-alert fw-bold basic rounded-5 text-alert"
                                    style="background-color: rgb(232, 214, 235); color: rgb(127, 52, 197);">
                                    Advance (Most Popular)
                                </h5>
                                <p class=" card-text">
                                    Perfectly for those actively applying for jobs and want to stand out
                                </p>
                                <p class="card-text " style="color: rgb(127, 52, 197);">
                                    £19.99/month
                                </p>
                                <ul class="list-group mb-5">
                                    <li class="list-group-item list-group-flush">
                                        <i class="bi bi-check me-3 fs-5" style="color: blueviolet;"></i>
                                        Generate Upto 20 cover letters per
                                        month
                                    </li>
                                    <li class="list-group-item list-group-flush">
                                        <i class="bi bi-check me-3 fs-5" style="color: blueviolet;"></i>Acces to Basic
                                        AI-generated content
                                        for
                                        more personlized
                                        letters
                                    </li>
                                    <li class="list-group-item list-group-flush">
                                        <i class="bi bi-check me-3 fs-5" style="color: blueviolet;"></i>Download Cover
                                        Letters in Word/PDF
                                        format
                                    </li>
                                </ul>
                            </div>
                            <div class="card-footer d-flex  justify-content-between">
                                <p class="text-muted">
                                    Get Started!
                                </p>
                                <i class="bi bi-arrow-right" style="color:blueviolet;"></i>
                            </div>

                        </div>
                    </div>
                    <div class="col-12 col-md-12 col-lg-4 mt-3">
                        <div class="card h-100 shadow">
                            <div class="card-body border-top-0 pt-4">
                                <h5 class="card-title btn fw-bold basic rounded-5 text-success"
                                    style="background-color: rgb(215, 240, 207);">
                                    Super-Charged
                                </h5>
                                <p class="card-text">
                                    Perfectly for those who want to apply to many jobs and would like additional support
                                </p>
                                <p class="card-text text-success">
                                    £99.99/month
                                </p>
                                <ul class="list-group mb-5">
                                    <li class="list-group-item"><i
                                            class="bi bi-check me-3 text-success fs-5"></i>Generate Upto 100 cover
                                        letters per month </li>
                                    <li class="list-group-item"><i class="bi bi-check me-3 text-success fs-5"></i>Acces
                                        to Basic AI-generated content for more personlized
                                        letters </li>
                                    <li class="list-group-item"><i
                                            class="bi bi-check me-3 text-success fs-5"></i>Download Cover Letters in
                                        Word/PDF format</li>
                                    <li class="list-group-item">
                                        <i class="bi bi-check me-3 text-success fs-5"></i>
                                        Priority Support with weekly coaching sessions with a cover letter expert
                                    </li>
                                </ul>
                            </div>
                            <div class="card-footer d-flex  justify-content-between">
                                <p class="text-muted">
                                    Get Started!
                                </p>
                                <i class="bi bi-arrow-right text-success"></i>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
    </section>
  
</div>
