#submit{
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    display: block;
}
#submit:hover{
    background-color: rgb(137, 161, 182);
    color: rgb(255, 255, 255);
}
.items{
    width: 50%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
    display: block;
    margin-top: 10px;
}