@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h2>We have three Departments in PUCIT
    </h2>
    <a href="/Department/CS" class="btn btn-primary">CS</a>
    <a href="/Department/IT" class="btn btn-primary">IT</a>
    <a href="/Department/SE" class="btn btn-primary">SE</a>
</div>
