<div>
    <p class="fs-2 fw-bold text-center mt-5">Get In Touch</p>
    <p>
        <span class="text-center d-block mt-3">We are here to help you with any queries you have. Feel free to reach out to us.
            Do not hesitate to ask us anything. We are here to help you. We will get back to you ASAP.
        </span> 
    </p>
</div>
<form>
    <div class="row ms-5 mt-5">
        <div class="col">
            <label for="exampleFormControlInput1" class="form-label mt-2">Name</label>
            <input type="text" class="form-control" placeholder="Name" aria-label="Name" required>
        </div>
        <div class="col">
            <label for="exampleFormControlInput1" class="form-label mt-2">Email</label>
            <input type="text" class="form-control" placeholder="me@example.com" aria-label="Email" required>
        </div>
        <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label mt-3">Message</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="5" placeholder="Enter your message" required></textarea>
        </div>
        <div class="mb-3 d-flex align-items-center justify-content-center">
            <input type="submit" value="Send" class="btn btn-primary w-25">
        </div>
    </div>  
</form>